.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
.avatar {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  fill: grey;
}
.name {
  font-weight: 700;
}
.tag,
.location {
  color: grey;
}
.stats {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}
.stats > li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
